<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset="utf-8">
    <title>Vehicle detector</title>
  </head>
  {% block content %}
  <body>
    <h1> Insert a photo here </h1>
    <p> This web application is able to detect Cars in the photos that are uploaded</p>
    <form action="{{ url_for('generate')}}" method="post">
    <input type="text" id="myFile" name="imgName" onchange="readURL(this);">
    
    <input type="submit">
    </form>
    {{ picture|safe}}
  </body>
  {% time_taken %}
  {% endblock %}
</html>

<script>
function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#blah')
                  .attr('src', e.target.result)
                  .width(1280)
                  .height(856);
          };

          reader.readAsDataURL(input.files[0]);
      }
  }
</script>